<%= render 'shared/error_messages' %>
<script type="text/javascript">
  $(document).ready(function(){  
    $(function () {
      $('.bs-datetimepicker').datetimepicker({
        sideBySide: true,
        stepping: 30,
        format: "YYYY-MM-DD HH:mm",
        minDate: "<%= I18n.l(Rails.configuration.x.festival_start, format: :datetime2) %>",
        maxDate: "<%= I18n.l(Rails.configuration.x.festival_end, format: :datetime2) %>",
        });
      $("[name='registration[start]']").val(<%= @registration.start.to_json.html_safe %>);
      $("[name='registration[end]']").val(<%= @registration.end.to_json.html_safe %>);
    });
  });
</script>

<div class="form-group">
  <%= f.label :name, class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :name, class: 'form-control' %>
    <small id="nameHelp" class="form-text text-muted"><%=t(:"form.name.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :shortname, class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :shortname, class: 'form-control' %>
    <small id="shortnameHelp" class="form-text text-muted"><%=t(:"form.shortname.help")%></small>
  </div>
</div>


  <div class="form-group">
    <%= f.label :email, class:"control-label col-sm-4" %>
    <div class="col-sm-8">
    <% if action_name == "new" or action_name == "create" %>
      <%= f.text_field :email, class: 'form-control' %>      
      <small id="emailHelp" class="form-text text-muted"><%=t("form.email.help")%></small>
    <% else %>
      <div id="editpage_email" name='registration[email]' type="text" class="form-control-static"></div>
      <%= f.hidden_field :email %>   
      <input type="hidden" id="memory_loss" name="memory_loss" />
      <small id="emailHelp" class="form-text text-muted"><%=t("form.email.help-edit")%></small>
    <% end %>
    </div>
  </div>

<div class="form-group">
  <%= f.label :phonenumber, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :phonenumber, class: 'form-control' %>
    <small id="phonenumberHelp" class="form-text text-muted"><%=t("form.phonenumber.help")%></small>
  </div>
</div>

<div class="form-group">
    <%= f.label :is_friend, class:"control-label col-sm-4" %>
    <div class="col-sm-8">
      <% if action_name == "new" or action_name == "create" %>
        <div class="checkDiv"><%= f.check_box :is_friend%></div>
      <% else %>
      <div class="form-row">
        <%= f.select(:is_friend, options_for_select({ "Yes" => "1", "No" => "0", "As before" => "" }, "")) %>
      </div>

      <% end %>
      <small id="isMemberHelp" class="form-text text-muted"><%=t("form.is_friend.help")%></small>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-4" for="languages">
    <%= t("form.languages.label") %>
  </label>
  <div id="languages" class="col-sm-8">
    <% if action_name == "new" or action_name == "create" %>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :german, class:"control-label col-sm-4" %>
          <div class="col-sm-1 checkDiv">
            <%= f.check_box :german%>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :english, class:"control-label col-sm-4" %>
            <div class="col-sm-1 checkDiv">
              <%= f.check_box :english%>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :french, class:"control-label col-sm-4" %>
          <div class="col-sm-1 checkDiv">
            <%= f.check_box :french%>
          </div>
        </div>
      </div>
      <small id="languagesHelp" class="form-text text-muted"><%=t("form.languages.help")%></small>
    <% else %>
      <div class="col-sm-4">
        <%= f.label :german, class:"control-label col-sm-4" %>
        <%= f.select(:german, options_for_select({ "Yes" => "1", "No" => "0", "As before" => "" }, "")) %>
      </div>
      <div class="col-sm-4">
        <%= f.label :english, class:"control-label col-sm-4" %>
        <%= f.select(:english, options_for_select({ "Yes" => "1", "No" => "0", "As before" => "" }, "")) %>
      </div>
      <div class="col-sm-4">
        <%= f.label :french, class:"control-label col-sm-4" %>
        <%= f.select(:french, options_for_select({ "Yes" => "1", "No" => "0", "As before" => "" }, "")) %>
      </div>
      <small id="languagesHelpEdit" class="form-text text-muted"><%=t("form.languages.help-edit")%></small>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= f.label :start, class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :start, class: 'form-control bs-datetimepicker'%>
    <small id="startHelp" class="form-text text-muted"><%=t("form.start.help", festival_start: l(Rails.configuration.x.festival_start, format: :datetime1))%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :end, class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :end, class: 'form-control bs-datetimepicker'%>
    <small id="endHelp" class="form-text text-muted"><%=t("form.end.help", festival_end: l(Rails.configuration.x.festival_end, format: :datetime1))%></small>
  </div>
</div>

<% if false %>
<div class="form-group">
  <%= f.label :start, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.datetime_select(:start, class: 'form-control', order: [:day, :month, :hour], discard_minute: true, prompt: {day: 'Choose day', month: 'Choose month', hour: "Choose hour"}) %><br>
    <small id="startHelp" class="form-text text-muted"><%=t("form.start.help", festival_start: l(Rails.configuration.x.festival_start, format: :datetime1))%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :end, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.datetime_select(:end, class: 'form-control', order: [:day, :month, :hour], discard_minute: true, prompt: {day: 'Choose day', month: 'Choose month', hour: "Choose hour"}) %><br>
    <small id="endHelp" class="form-text text-muted"><%=t("form.end.help", festival_end: l(Rails.configuration.x.festival_end, format: :short_datetime))%></small>
  </div>
</div>
<% end %>


<div class="form-group">
  <%= f.label :comment, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :comment, class: 'form-control'  %>
    <small id="commentHelp" class="form-text text-muted"><%=t("form.comment.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :contact_persons_email, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <div class="form-control-static"><%= @registration.contact_persons_email %></div>
    <small id="contactPersonHelp" class="form-text text-muted"><%=t("form.contact_persons_email.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :city, class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <div class="form-control-static"><%= @registration.city %></div>
    <small id="cityHelp" class="form-text text-muted"><%=t("form.city.help")%></small>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-4 col-sm-8"> 
    <%= f.submit t("form.submit.#{action_name}") %>
  </div>
</div>
