<%= render 'shared/error_messages' %>

<div class="form-group">
  <%= f.label :name, t(:"form.name.label"), class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :name, class: 'form-control' %>
    <small id="nameHelp" class="form-text text-muted"><%=t(:"form.name.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :shortname, t(:"form.shortname.label"), class:"control-label col-sm-4"%>
  <div class="col-sm-8">
    <%= f.text_field :shortname, class: 'form-control' %>
    <small id="shortnameHelp" class="form-text text-muted"><%=t(:"form.shortname.help")%></small>
  </div>
</div>

<% if action_name == "new" or action_name == "create" %>
  <div class="form-group">
    <%= f.label :email, t("form.email.label"),class:"control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.text_field :email, class: 'form-control' %>
      <small id="emailHelp" class="form-text text-muted"><%=t("form.email.help")%></small>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :phonennumber, t("form.phonenumber.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :phonenumber, class: 'form-control' %>
    <small id="phonenumberHelp" class="form-text text-muted"><%=t("form.phonenumber.help")%></small>
  </div>
</div>

<div class="form-group">
    <%= f.label :is_friend, t("form.is_friend.label"), class:"control-label col-sm-4" %>
    <div class="col-sm-8">
      <div class="checkDiv"><%= f.check_box :is_friend%></div>
      <small id="isMemberHelp" class="form-text text-muted"><%=t("form.is_friend.help")%></small>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-4" for="languages">
    <%= t("form.languages.label") %>
  </label>
  <div id="languages" class="col-sm-8">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :german, t("form.languages.german"), class:"control-label col-sm-4" %>
        <div class="col-sm-1 checkDiv">
          <%= f.check_box :german%>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :english, t("form.languages.english"), class:"control-label col-sm-4" %>
        <div class="col-sm-1 checkDiv">
          <%= f.check_box :english%>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :french, t("form.languages.french"), class:"control-label col-sm-4" %>
        <div class="col-sm-1 checkDiv">
          <%= f.check_box :french%>
        </div>
      </div>
    </div>
  <small id="languagesHelp" class="form-text text-muted"><%=t("form.languages.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :start, t("form.start.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.datetime_select(:start, class: 'form-control', order: [:day, :month, :hour], discard_minute: true, prompt: {day: 'Choose day', month: 'Choose month', hour: "Choose hour"}) %><br>
    <small id="startHelp" class="form-text text-muted"><%=t("form.start.help", festival_start: l(festival_start, format: :short_datetime))%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :end, t("form.end.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.datetime_select(:end, class: 'form-control', order: [:day, :month, :hour], discard_minute: true, prompt: {day: 'Choose day', month: 'Choose month', hour: "Choose hour"}) %><br>
    <small id="endHelp" class="form-text text-muted"><%=t("form.end.help", festival_end: l(festival_end, format: :short_datetime))%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :contact_person, t("form.contact_person.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :contact_person, class: 'form-control'  %>
    <small id="contactPersonHelp" class="form-text text-muted"><%=t("form.contact_person.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :city, t("form.city.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <div class="form-control-static"><%= @city %></div>
    <small id="cityHelp" class="form-text text-muted"><%=t("form.city.help")%></small>
  </div>
</div>

<div class="form-group">
  <%= f.label :comment, t("form.comment.label"), class:"control-label col-sm-4" %>
  <div class="col-sm-8">
    <%= f.text_field :comment, class: 'form-control'  %>
    <small id="commentHelp" class="form-text text-muted"><%=t("form.comment.help")%></small>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-4 col-sm-8"> 
    <%= f.submit t("form.submit.#{action_name}") %>
  </div>
</div>
