<script>
  $( document ).ready(function() {
    let hashed_email = <%=@registration.hashed_email.to_json.html_safe %>;
    let encrypted_data = localStorage.getItem(hashed_email);
    let local_registration = {};
    local_registration[hashed_email] = JSON.parse(encrypted_data);
    $.ajax({
      url: '/decrypt',
      type: 'POST',
      headers: {
      'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
      },
      data: {"encrypted_registrations": local_registration},
      dataType:'json',
      success: function (data, textStatus, jqXHR) {
        let registration = data[0][1]
        $("[name='registration[name]']").val(registration.name);
        $('*[name="registration[email]"]').text(registration.email);
        $("[name='registration[shortname]']").val(registration.shortname);
        $("[name='registration[phonenumber]']").val(registration.phonenumber);
        $("[name='registration[is_friend]']").val(registration.is_friend);
        $("[name='registration[german]']").val(registration.german);
        $("[name='registration[english]']").val(registration.english);
        $("[name='registration[french]']").val(registration.french);
        $("[name='registration[comment]']").val(registration.comment);
        $("[name='registration[start]']").val(registration.start);
        $("[name='registration[end]']").val(registration.end);
      }
    });    
  });
</script>

<h1><%= t("views.edit.headline", id: @registration.id)%></h1>
<% if @data %>
  <p><%= t("views.edit.cookie_explanation") %></p>
<% else %>
  <p><%= t("views.edit.cookie_deleted_explanation") %></p>
<% end %>
<p><%=t("views.edit.above_form")%></p>      
<%= form_for(@registration, url: "/registrations/#{@registration.hashed_email}", method: :put, html: {class: 'form-horizontal', autocomplete: "off"}) do |f| %>
  <%= render 'form', :f => f %>
<% end %> 
