<h1>Register</h1>
<p>...your availability for shifts on the festival</p>
<div class="reg-form">
  <%= form_for(@registration) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label "cellphone" %>
    <%= f.text_field :phonenumber %>
    
    <%= f.label :city %>
    <%= f.text_field :city %>
    
    <div class="checkDiv">
      <%= f.label "Are you a member?" %>
      <%= f.check_box :is_member %>
    </div>
    
    <%= f.label :contact_person %>
    <%= f.text_field :contact_person %>
    
    <%= f.submit "Submit registration" %>
  <% end %>
</div>
  


  

