<h1> <%= t("views.update_success.headline", id: @registration.id) %> </h1>
<div class="alert alert-danger">
  <p> <%= simple_format(t("views.update_success.red_html", edit_link: link_to(t("views.update_success.edit_link_text"), registration_url(@registration)))) %> <p>
</div>
<div class="alert alert-success">
  <p><%= simple_format(t("views.update_success.green_above_data_html")) %> 
  <p><%= render '/shared/registration_data_table' %></p>
  <p><%= simple_format(t("views.update_success.green_below_data_html")) %><p> 
  </p>
</div>