<script>
  $( document ).ready(function(){
    //load all registrations from localstorage, which are in the associated records list into a hash of registrations
    let all_local_registrations = {};
    $( "td[data-hashed_email]" ).each( function( index, td ) {
      let hashed_email = td.getAttribute('data-hashed_email');
      let encrypted_data = localStorage.getItem(hashed_email);
      all_local_registrations[hashed_email] = JSON.parse(encrypted_data);
      });
    //server-request: send hash and decrypt registrations inside
    $.ajax({
      url: '/decrypt',
      type: 'POST',
      headers: {
      'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
      },
      data: {"encrypted_registrations": all_local_registrations},
      dataType:'json',
      success: function (data, textStatus, jqXHR) {
        $.each(data, function(index,registration) {
          if (registration.length > 0){//if this record wasn't cleared from local storage'
          //fill in tds in the list
            element = document.querySelectorAll("[data-hashed_email='"+registration[0]+"']");
            element[0].innerHTML = registration[1]["name"];   
            }
          else {
        });
      }
    });
  });
</script>

<h4>You registered <%= pluralize(associated_registrations.length, "person") %>:</h4>
<div class="table-wrapper">
<table class="text-center table-hover">
  <tr>
   <th><div title=<%= t("views.registrations_table.tooltips.id").to_json.html_safe %>>ID</div></th>
    <th><div title=<%= t("views.registrations_table.tooltips.name").to_json.html_safe %>><%= t("activerecord.attributes.registration.name") %></div></th>
    <th><div title=<%= t("views.registrations_table.tooltips.confirmed").to_json.html_safe %>>Confirmed</div></th>
    <th><div title=<%= t("views.registrations_table.tooltips.edit").to_json.html_safe %>>Edit</div></th>
    <th><div title=<%= t("views.registrations_table.tooltips.delete").to_json.html_safe %>>Delete</div></th>
  </tr>
<% associated_registrations.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td data-hashed_email=<%=r.hashed_email%> ></td>
    <td><%= better_read(r.confirmed) %></td>
    <td><%= link_to registration_path(r) do %><i class="glyphicon glyphicon-edit"></i><% end %></td>
    <td><%= link_to(registration_path(r), method: :delete, data:{confirm: t("views.registrations_table.delete_registration_confirm")}) do %><i class="glyphicon glyphicon-trash"></i><% end %></td>
  </tr>
<% end %>
</table>
</div>