<script>
  $( document ).ready(function() {
      function getValue() {
        var retVal = prompt( <%= I18n.t("views.warning.js_prompt").to_json.html_safe %> );
        if (retVal != <%= I18n.t("views.warning.js_prompt_answer").to_json.html_safe %>) {
           getValue();
        }
        else {
          window.location.href = <%= contact_person_confirm_url(@contact_person).to_json.html_safe %>;
          }
      }
      getValue()
  });
</script>


<h1><%= t("views.warning.javascript_missing.headline") %></h1>
<div class="text-left">
<p><%= simple_format(t("views.warning.javascript_missing.body_html", link: link_to(t("views.warning.javascript_missing.link_text"), contact_person_confirm_url(@contact_person)))) %></p>
</div>