<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.x.website_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>        
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= Rails.configuration.x.website_title %></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to root_path do %>
              <i class="glyphicon glyphicon-copy"></i> New Registration
            <% end %>
          </li>
          <li>
            <%= link_to logout_path do %>
              <i class="glyphicon glyphicon-user"></i> Logout
            <% end %>
          </li>
        </ul>
      </div>
    </nav> 
    <div class="row">
      <div class="col-xs-12 col-sm-0 col-lg-3">
        <div class="logo hidden-xs hidden-sm hidden-md">
          <%= image_tag("rubymonstas.png", :alt => "rubymonstas logo", :width => 120, :height => 120)%>
        </div>
      <% if session[:contact_person]%>
       <div class="row alert info-box info-box-size alert-danger text-center">
          <%= render 'shared/associated_registrations' %>
        </div>
      <% end %>
      </div>
      <div class="col-xs-12 col-sm-7 col-lg-6 registration-container ">    
        <div class="well">
          <% flash.each do |message_type, message| %>
            <div class="text-center alert alert-<%= message_type %>"><%= message.html_safe %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-lg-3 sidebar">
        <div class="side-boxes">
          <div class= "row alert info-box alert-warning text-center">
            <h2>Deadline</h2>
            <h3><%= l(Rails.configuration.x.deadline, format: :datetime1) %></h3>
          </div>
          <% unless t("sidebar.info_html").empty? %>
            <div class= "row alert alert-info info-box">
              <h2>Info</h2>
              <p><%= simple_format(t("sidebar.info_html", info_link1: locale_link("sidebar.info_link1"), info_link2: locale_link("sidebar.info_link2"))) %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
